#!/bin/bash

name=kitbag
confdir={{ comint_base }}/dispatch

directories=( /home/* )
ftp_base=ftp.box.com/Pyrocumulonimbus/backups
ftp_user=its-collab-pyrocumulonimbus@umich.edu
ftp_passwd=dead60ff

export TMPDIR=/var/tmp
. /usr/libexec/comint/setup

ts=$(date +%Y/%m/%F)
retval=0
startts=$(date +%s)
for dir in ${directories[*]} ; do
    free=$(df -k --output=avail $tmpdir | tail -1)
    size=$(du -ks $dir | cut -f1)
    if [[ $size -gt $(( free / 2 )) ]]; then
        retval=1
        printf -v msg '%s\nSkipping backup of %s (%sK is more than half of %sK)' "$msg" "$dir" "$size" "$free"
        continue
    fi
    tarball=$tmpdir/${dir//\//_}.tar.xz
    tar -cJf $tarball $dir 2>/dev/null
    tries=0
    while [[ $(( tries++ )) -lt 5 ]]; do
        curl -s -T $tarball -u $ftp_user:$ftp_passwd --ftp-ssl --ftp-create-dirs "ftp://$ftp_base/$host/$ts/" 2>&1
        curlexit=$?
        [[ $curlexit -eq 0 ]] && break
    done
    if [[ $curlexit -ne 0 ]]; then
        retval=1
        printf -v msg '%s\nFailed to upload tarball for %s' "$msg" "$dir"
    fi
    rm -f $tarball 2>&1
done

if [[ -z "$msg" ]] ; then
    msg="All backups were created and uploaded successfully"
fi

duration=$(( $(date +%s) - startts ))

jq -n -r \
    --arg source $(hostname) \
    --arg status $retval \
    --arg duration $duration \
    --arg msg "$msg" \
    '{ name: "kitbag", source: $source, ttl: 216000, duration: $duration | tonumber, status: $status | tonumber, output: $msg }' | ncat localhost 3030

cleanup
