[duo]
ikey = {{ lookup('hashi_vault', 'secret=secret/mogo/duo/ikey:value' ) }}
skey = {{ lookup('hashi_vault', 'secret=secret/mogo/duo/skey:value' ) }}
host = api-d9c5afcf.duosecurity.com
groups = staff
pushinfo = yes
prompts = 3
