#!/bin/dash
# penalty box - inbound

PENALTYBOX_PASS=1
penaltybox_bin='/usr/bin/penaltybox'
penaltybox_args='-h {{ simta_redis_host }}'

if check_tfile && grep -iq '^Rpenaltybox@' $SIMTA_TFILE ; then
    reason='testing'
elif ! simrbl -q -l penaltybox-skip-domains.dnsal -t "$SIMTA_DMARC_DOMAIN" ; then
    PENALTYBOX_PASS=0
elif ! simrbl -q -l penaltybox-skip.dnsal "$SIMTA_REMOTE_IP" ; then
    PENALTYBOX_PASS=0
elif [ "x$SIMTA_DMARC_RESULT" = 'xquarantine' -o "x$SIMTA_DMARC_RESULT" = 'xreject' ]; then
    reason='dmarc'
elif [ "x$SIMTA_DMARC_RESULT" != 'xpass' -a \
    "x$SIMTA_SPF_RESULT" != 'xpass' -a \
    "x$SIMTA_SPF_RESULT" != 'xneutral' -a \
    "x$SIMTA_SPF_RESULT" != 'xnone' ]; then
    reason='spf'
elif [ $SIMTA_REVERSE_LOOKUP -ne 0 ]; then
    reason='bad reverse'
elif [ $SIMTA_WRITE_BEFORE_BANNER -ne 0 ]; then
    reason='write before banner'
else
    DNSBL=$(simrbl \
        -l sip24.dnsbl \
        -l b.barracudacentral.org \
        -l bl.spamcop.net \
        -l sip.dnsbl \
        -l zen.dnsbl \
        "$SIMTA_REMOTE_IP")
    if [ $? -eq 1 ]; then
        DNSBL=${DNSBL#*found in }
        DNSBL=${DNSBL%%:*}
        reason="dnsbl $DNSBL"
    fi
fi

if [ $PENALTYBOX_PASS -ne 0 -a "x$reason" != 'x' ]; then
    logmsg=$($penaltybox_bin $penaltybox_args "$reason")
    pbret=$?
    if [ "x$logmsg" != 'x' ]; then
        log "70_pb: $logmsg"
    fi
    if [ $pbret -eq ${MESSAGE_TEMPFAIL} ]; then
        filter_exit ${MESSAGE_TEMPFAIL}
    fi
    PENALTYBOX_PASS=0
fi
