# See unbound.conf(5) man page.

remote-control:
    control-enable: yes

server:
    verbosity: 1
    statistics-interval: 0

    do-ip6: no

    access-control: ::1 allow_snoop
    access-control: 127.0.0.0/8 allow_snoop

    num-threads: 4
    outgoing-range: 4096

    msg-cache-size: 4m
    rrset-cache-size: 8m

    cache-min-ttl: 30
    cache-max-ttl: 86400
    infra-host-ttl: 600

    chroot: ""
    username: "unbound"
    directory: "/etc/unbound"
    use-syslog: yes
    pidfile: "/var/run/unbound/unbound.pid"

    harden-glue: yes
    harden-dnssec-stripped: yes
    harden-below-nxdomain: yes
    harden-referral-path: yes
    unwanted-reply-threshold: 10000000

    prefetch: yes
    prefetch-key: yes

    rrset-roundrobin: yes
    minimal-responses: yes

    trusted-keys-file: /etc/unbound/keys.d/*.key
    auto-trust-anchor-file: "/var/lib/unbound/root.key"
    val-clean-additional: yes
    # We have to be permissive for AWS internal names to work
    val-permissive-mode: yes
    val-log-level: 1

    local-zone: "10.in-addr.arpa" nodefault
{% for i in range(16, 32) %}
    local-zone: "{{ i }}.172.in-addr.arpa" nodefault
{% endfor %}

forward-zone:
    name: "10.in-addr.arpa"
    forward-addr: 169.254.169.253

{% for i in range(16, 32) %}
forward-zone:
    name: "{{ i }}.172.in-addr.arpa"
    forward-addr: 169.254.169.253

{% endfor %}
forward-zone: 
    name: "amazonaws.com"
    forward-addr: 169.254.169.253

forward-zone:
    name: "compute.internal"
    forward-addr: 169.254.169.253

stub-zone:
    name: "dnsbl"
    stub-host: rbldnsd.{{ aws_region }}.{{ subd }}

stub-zone:
    name: "dnsal"
    stub-host: rbldnsd.{{ aws_region }}.{{ subd }}

