<VirtualHost *:80>
    ServerName graphs.{{ subd }}
    Redirect permanent / https://graphs.{{ subd }}/
</VirtualHost>

<VirtualHost *:443>
    ServerAdmin {{ ops_email }}
    ServerName graphs.{{ subd }}
    ErrorLog /var/log/httpd/graphs-error.log
    CustomLog /var/log/httpd/graphs-access.log common
    SSLEngine On
    SSLCertificateFile /etc/pki/collab/private/graphs.{{ subd }}.crt
    SSLCertificateKeyFile /etc/pki/collab/private/graphs.{{ subd }}.key
    SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
    SSLCipherSuite ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
    SSLHonorCipherOrder on

    <Location />
        ProxyPass http://localhost:3001/
        ProxyPassReverse http://localhost:3001/
    </Location>
</VirtualHost>
