# simta_ldap.conf
# oc/objectclass defines the objectclasses for a person directory entry
#                and a mail group directetory entry.
oc			person		umichperson
objectclass		group		rfc822mailgroup

# starttls -- determines if we start up a tls layer
# starttls == 0 => Do Not start -- Default
# starttls == 1 => start tls layer but if not successful -- then OK
# starttls == 2 => start tls layer and fail if not successful
# starttls	2
#
# ldapdebug -- enable ldap/lber debugging output to stdout.
#ldapdebug	65535

host        {{ simta_ldap_host }}
starttls    2
binddn      "{{ simta_ldap_user }}"
bindpw	    {{ simta_ldap_password }}

# timeout -- the ldap server timeout -- defaults to 180 seconds
timeout 180

# The canonical location for these groups is the main domain, not
# the mapped domain.
associateddomain {{ tld }}

# Map addresses in this domain to groups with a specific prefix.
uri  "ldap:///ou=User%20Groups,ou=Groups,dc=umich,dc=edu?*?sub?(&(cn={{ item.prefix }} %25s)(!(umichEntryDisabled=TRUE)))" RDNPREF searchtype=ALL

# attributes is a list of attributes to be read from the server.
#            If no attributes are configured,  then all attributes are
#            requested from the ldap server.

attributes  objectClass title postaladdress mailForwardingAddress rfc822Mail telephoneNumber description owner errorsTo rfc822ErrorsTo requestsTo rfc822RequestsTo cn member moderator onVacation uid suppressNoEmailError associateddomain disabledDomain membersonly permittedgroup realtimeblocklist rfc822private mail umichEntryDisabled

# mailforwardingattr -- the attribute name in the person entry that
#                       defines the mail forwarding.
#                       Defaults to "mail"
mailforwardingattr mailforwardingaddress
