# simta_ldap.conf
# oc/objectclass defines the objectclasses for a person directory entry
#                and a mail group directetory entry.
oc			person		umichperson
objectclass		group		rfc822mailgroup

# starttls -- determines if we start up a tls layer
# starttls == 0 => Do Not start -- Default
# starttls == 1 => start tls layer but if not successful -- then OK
# starttls == 2 => start tls layer and fail if not successful
# starttls	2
#
# ldapdebug -- enable ldap/lber debugging output to stdout.
#ldapdebug	65535

host        {{ simta_ldap_host }}
starttls    2
binddn      "{{ simta_ldap_user }}"
bindpw	    {{ simta_ldap_password }}

# timeout -- the ldap server timeout -- defaults to 180 seconds
timeout 180

# uri -- defines a search
#
# These searches are executed in order.  So here we
# search in the people branch using uid=%s as the search string
# Then we search in people with cn=%s as the search string.

{% set _tld = tld if item.tld is not defined else item.tld %}
uri  ldap:///ou=People,dc=umich,dc=edu?*?sub?(&(uid=%25s)(associatedDomain={{ item.slug }}.{{ _tld }})(!(disabledDomain={{ item.slug }}.{{ _tld }}))) searchtype=USER

uri  ldap:///ou=People,dc=umich,dc=edu?*?sub?(&(cn=%25s)(associatedDomain={{ item.slug }}.{{ _tld }})(!(disabledDomain={{ item.slug }}.{{ _tld }}))) searchtype=USER

# no system groups for subdomains

# updated to use umichEntityDisabled field to detect disabled groups
# group mail should no longer rely on associatedDomain
uri  ldap:///ou={{ item.slug }},ou=subdomain%20groups,ou=groups,dc=umich,dc=edu?*?sub?(&(cn=%25s)(!(umichEntryDisabled=TRUE))) RDNPREF searchtype=ALL

# attributes is a list of attributes to be read from the server.
#            If no attributes are configured,  then all attributes are
#            requested from the ldap server.

attributes  objectClass title postaladdress mailForwardingAddress rfc822Mail telephoneNumber description owner errorsTo rfc822ErrorsTo requestsTo rfc822RequestsTo cn member moderator onVacation uid suppressNoEmailError associateddomain disabledDomain membersonly permittedgroup realtimeblocklist rfc822private mail umichEntryDisabled

# vacationhost is the domain name of the vacation server.
# vacationattr is the name of a boolean attribute that when TRUE
#              signifies that the user is on vacation,  and the mail
#              message should be forwarded to the vacation server.
vacationhost {{ simta_vacationhost }}
vacationattr onvacation

# mailforwardingattr -- the attribute name in the person entry that
#                       defines the mail forwarding.
#                       Defaults to "mail"
mailforwardingattr mailforwardingaddress
