<VirtualHost *:80>
    ServerName {{ ara_hostname }}
    Redirect permanent / https://{{ ara_hostname }}/
</VirtualHost>

<VirtualHost *:443>
    DocumentRoot /home/ara
    ServerAdmin {{ ops_email }}
    ServerName {{ ara_hostname }}
    ErrorLog /var/log/httpd/ara-error.log
    CustomLog /var/log/httpd/ara-access.log common
    SSLEngine On
    SSLCertificateFile /etc/pki/collab/private/{{ ara_hostname }}.crt
    SSLCertificateKeyFile /etc/pki/collab/private/{{ ara_hostname }}.key
    SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
    SSLCipherSuite ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
    SSLHonorCipherOrder on

    OIDCProviderMetadataURL https://accounts.google.com/.well-known/openid-configuration
    OIDCClientID {{ lookup('hashi_vault', 'secret=secret/google/' ~ ara_hostname ~ ':id') }}
    OIDCClientSecret {{ lookup('hashi_vault', 'secret=secret/google/' ~ ara_hostname ~ ':secret') }}
    OIDCCryptoPassphrase {{ lookup('hashi_vault', 'secret=secret/google/' ~ ara_hostname ~ ':passphrase') }}
    OIDCRedirectURI https://{{ ara_hostname }}/login/google
    OIDCScope "openid email"
    OIDCRemoteUserClaim email

    <Location />
        AuthType openid-connect
        Require claim hd:{{ tld }}
    </Location>

    ProxyPass / http://localhost:8082/
</VirtualHost>
