# Configuration snippets may be placed in this directory as well
includedir /etc/krb5.conf.d/

[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 dns_lookup_realm = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 rdns = false
 pkinit_anchors = /etc/pki/tls/certs/ca-bundle.crt
 default_realm = "{{ ( aws_status == 'prod' ) | ternary('UMICH.EDU', 'MCOMMQA.UMICH.EDU') }}"
 default_ccache_name = KEYRING:persistent:%{uid}

[realms]
 UMICH.EDU = {
     kdc = kerberos-1.umich.edu:88
     kdc = kerberos-2.umich.edu:88
     kdc = kerberos-3.umich.edu:88
     kdc = kerberos-4.umich.edu:88
     admin_server = kerberos-admin.umich.edu:749
 }

 MCOMMQA.UMICH.EDU = {
     kdc = scops.dsc.umich.edu:88
     kdc = kelp.dsc.umich.edu:88
     admin_server = scops.dsc.umich.edu:749 
 }

[domain_realm]
# .example.com = EXAMPLE.COM
# example.com = EXAMPLE.COM
